@{
    ViewData["Title"] = "Sobre este projeto";
}
<header class="font-monospace">
    <h2>@ViewData["Title"]</h2>
</header>
<main>
    <section class="font-monospace">
        <p>
            <article>
                Sou <cite>Odair J. Do Rosario</cite>, Estudante de engenharia de software e atualmente trabalho com desenvolvimento de software.
                Sou Programador Treinee na VisionSystem de minha cidade. Desenvolvi esta Aplicação junto ao curso do Professor <strong><cite>Nelio Alves</cite></strong> em um curso da <a href="https://www.udemy.com" target="_blank">Udemy</a>.
            </article>
        </p>
        
        <p>
            Meu linkedin =>  <a href="https://br.linkedin.com/in/odair-j-do-rosario-587393224/en?trk=people-guest_people_search-card" target="_blank">Odair J.</a>
        </p>

        <p>
            Link do curso do Professor Nelio => <a href="https://www.udemy.com/course/programacao-orientada-a-objetos-csharp" target="_blank">Nelio A.</a>
        </p>
    </section>
</main>
