@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section>
        <h5>My First App with C# and Entity FrameWork.</h5>
        <hr />
        <blockquote style="border-radius:1%;">
            <code style="white-space: pre-wrap;">Console.WriteLine("Esta Aplicação foi desenvolvida em C# com o Entity Framework no modelo MVC(Model - View - Controller)");
            </code>
              
        </blockquote>
   
    </section>
</main>